*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.container{
    display: flex;
    gap: 20px;
}
.button{
    height: 140px;
    width: 140px;
    border: 2px solid black;
}

#blue{
    background-color: blue;
}
#orange{
    background-color: orange;
}
#green{
    background-color: green;
}
#pink{
    background-color: pink;
}